---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/movie?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <THE_ONE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '80'
      X-Ratelimit-Reset:
      - '1676530588'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"121-7RPbrdc+P2roTZkFfhMYsE7E+Uk"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd95395de30eff6ebccde56","name":"The Lord of the
        Rings Series","runtimeInMinutes":558,"budgetInMillions":281,"boxOfficeRevenueInMillions":2917,"academyAwardNominations":30,"academyAwardWins":17,"rottenTomatoesScore":94}],"total":8,"limit":1,"offset":0,"page":1,"pages":8}'
  recorded_at: Thu, 16 Feb 2023 06:55:45 GMT
recorded_with: VCR 6.1.0
