---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/movie/5cd95395de30eff6ebccde5c/quote?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <THE_ONE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '79'
      X-Ratelimit-Reset:
      - '1676530588'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fc-o5rcJOGyEB/2eQKFACvVGGnpZuM"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd96e05de30eff6ebcced61","dialog":"Who is she? This
        woman you sing of?","movie":"5cd95395de30eff6ebccde5c","character":"5cd99d4bde30eff6ebccfc15","id":"5cd96e05de30eff6ebcced61"}],"total":503,"limit":1,"offset":0,"page":1,"pages":503}'
  recorded_at: Thu, 16 Feb 2023 06:55:46 GMT
recorded_with: VCR 6.1.0
