---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/movie/5cd95395de30eff6ebccde5c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <THE_ONE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '91'
      X-Ratelimit-Reset:
      - '1676490988'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"121-Of71dSyOsfe3W0w0t9zJ04Ed8x0"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd95395de30eff6ebccde5c","name":"The Fellowship of
        the Ring","runtimeInMinutes":178,"budgetInMillions":93,"boxOfficeRevenueInMillions":871.5,"academyAwardNominations":13,"academyAwardWins":4,"rottenTomatoesScore":91}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Wed, 15 Feb 2023 19:48:11 GMT
recorded_with: VCR 6.1.0
